
@media screen and (min-width: 768px){
  /**
   * nav
   */

  .page-nav{
    position: static;
  }

  .mobile-btn{
    display: none;
  }

  .page-nav__list{
    position: static;
    display: flex;
    z-index: 0;
    background: #eff1f9;
    box-shadow: none;
  }

  .page-nav__item{
    padding: 0;
    margin-left: 15px;
  }

  .page-nav__item:first-child{
    margin-left: 0;
  }

  .mobile-btn:focus ~ .page-nav__list, .mobile-btn:active ~ .page-nav__list, .page-nav__list:hover { 
    display: flex;
  }

  .page-nav__item:active{
    background: #eff1f9;
    opacity: 1;
  }
  /**
   * special
   */
  .special__list {
    display: flex;
    flex-flow: row wrap;
  }
  .special__item {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
  }
  .special__item:nth-child(2n) {
    border-left: none;
  }
  .special__item:last-child {
    border-bottom: none;
  }
  .special__item:hover {
    background: #eff1f9;
  }
  .special__item:hover .special__title {
    color: #162240;
  }
  .special__item:hover .special__desc {
    color: rgba(102,102,102, 1);
  }

  .special__desc-wrap {
    margin-top: auto;
  }
}

@media screen and (min-width: 1024px) {
  /**
   * header
   */
  .header{
    flex-flow: column wrap;
  }
  .logo{
    margin-top: 55px;
  }
  /**
   * nav
   */
  .page-nav{
    margin: 0 auto;
  }

  .page-nav__list{
    margin-top: 55px;
    margin-bottom: 170px;
  }

  .page-nav__item{
    margin-left: 70px;
  }

  .page-nav__link{
    transition: color .2s ease-in-out;
  }
  .page-nav__link:hover{
    color: #ffd21d;
  }
  /**
   * spacial
   */
  .special__item {
    padding: 65px 25px;
  }
  .special__title {
    margin-top: 40px;
  }
  .special__desc {
   margin-top: 20px;
  }
}

@media screen and (min-width: 1200px){
  .special__list {
    flex-flow: row nowrap;
  }

  .special__item {
    border-left: none;
    border-top: none;
  }
  .special__item:last-child {
    border-right: none;
  }
}

@media screen and (min-width: 1600px){
  .special__item {
    padding: 95px 25px;
  }
}