@import url('../libs/normalize/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/***
	default settings
***/

*{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
	margin-bottom: 0;
}

ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: #000;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

img{
	display: block;
	max-width: 100%;
}

body{
	background: #FFF;
}

/*** 
	slider
 ***/

.slider{
	width: 100%;
	font-size: 0;
	position: relative;
}

.slider-seconditem, .slider-thirditem{
	display: none;
}

.slider__list{
	width: 100%;
	display: inline-block;
	text-align: right;
	padding-bottom: 70px;
}

.slider__content{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.slider__content--title{
	font-family: 'Raleway', sans-serif;
	color: #303030;
	font-size: 9.375rem;
	font-weight: 900;
	line-height: 1em;
	text-transform: uppercase;
	margin: 0;
}

.slider__content--desc{
	font-family: 'Roboto', sans-serif;
	color: #303030;
	font-size: 1.5rem;
	line-height: 1.5em;
}

.slider__content--link{
	font-family: 'Roboto';
	color: #e10011;
	font-size: 1.5rem;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 1.5em;
}

.slider__content--link:hover{
	color: #9C020E;
}

.slider__img-wrap{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding-left: 104px;
}

.slider__content--img{
	display: inline-block;
}

.slider-nav{
	position: absolute;
	bottom: 0;
	left: 50%;
}

.slider-nav__item:last-child{
	padding-right: 0;
}

.slider-nav__item{
	display: inline-block;
	padding-right: 9px;
}

.slider-nav__circle{
 	background: #000;
 	width: 11px;
 	height: 11px;
 	border-radius: 50%;
 	cursor: pointer;
 	overflow: hidden;
 	display: block;
}

.slider-nav__circle-current{
	background: #E10011;
}

.slider-nav__circle:hover{
	background: #E10011;
}

